/* You can add global styles to this file, and also import other style files */

@import '../../../dist/libs/ui/dist/nxlp/nxlp.css';
@import '../../../libs/ui/fonts/font.css';

@import './css/reset';

body {
  &.modal-open {
    overflow: hidden;
  }
}

a {
  color: var(--color-blue);
}

:root {
  --gutter: 0 25px;
  --section-heading-font-size: 12px;
}